

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10px;
  }
  
  @keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  .content-container {
    background-color: rgba(44, 39, 39, 0.8);
    border-radius: 10px;
    padding: 2rem;
    margin: 20px;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 6vw; /* Increased font size for greater visibility */
    margin: 0 auto;
    padding: 0.5em;
    font-family: monospace;
    color: #ffffff; /* Ensure the color stands out against the background */
  }
  
  h2 {
    font-size: 1.5vw; /* Manageable size that doesn't trigger overflow under normal circumstances */
    margin: 0 auto;
    padding: 0.25em;
    font-family: monospace;
    color: #ffffff;
    overflow: visible; /* Remove overflow behavior */
    white-space: normal; /* Allow text to wrap */
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 6vw; /* Larger size for readability on small screens */
    }
    h2 {
      font-size: 4vw; /* Adjusted for small screens to improve readability */
    }
  }
  
  @media (min-width: 769px) {
    h1 {
      font-size: 4vw; /* Adjusted to be slightly larger on larger screens */
    }
    h2 {
      font-size: 2vw; /* Comfortable reading size on larger screens */
    }
  }
  
  h3, h4 {
    font-size: 2.5vw;
    margin: 0 auto;
    padding: 0.5em;
    font-family: monospace;
  }
  
  h2 {
    font-size: 1.5vw;
    margin: 0 auto;
    padding: 0.25em;
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .form__group {
    width: 100%;
    margin: 10px 0;
  }
  
  .form__field, .submit-button {
    width: 90%;
    font-size: 1.2vw;
    margin: auto;
  }
  
  .resource-item {
    visibility: hidden;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      visibility: visible;
    }
  }
  
  .typewriter h4, .typewriter p {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end) forwards, blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  
  @media (max-width: 768px) {
    h3, h4 {
      font-size: 4vw;
    }
    .form__field, .submit-button {
      font-size: 3vw;
    }
  }
  
  @media (min-width: 769px) {
    h3, h4 {
      font-size: 1.5vw;
    }
    .form__field, .submit-button {
      font-size: 1.2vw;
    }
  }
  .about-info p::first-letter {
    float: left;
    font-size: 2.1em;  /* Adjusts the size of the drop cap */
    line-height: .4; /* Adjusts the line height to align it better with the rest of the text */ /* Makes the drop cap bold */
    margin-right: 0px; /* Adds some space between the drop cap and the rest of the text */ /* You can specify a color to make it stand out */
}
@media (max-width: 768px) {
    .about-info p::first-letter {
        font-size: 2em;  /* Smaller size for small devices */
    }
}
.about-info p {
    font-weight: 200;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px; /* Adjust this value to increase or decrease spacing */
    line-height: 1.6; /* This enhances readability by spacing out lines within paragraphs */
}

