<!DOCTYPE html>
<html>
<head>
  <title>About Me - Homeless Resources Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body class="d-flex flex-column justify-content-center w-100 h-100">
  <div class="content-container">
    <header>
      <h1>About Us</h1>
    </header>
    <section class="about-info">
        <p>     Hi there and welcome to my site, created for my Introduction To Change Making course at The University of San Diego taught by Mike Williams. This site aims to aid the homeless by providing info on ways they can access resources near them and give clear help to homeless people in San Diego. All you do is type in what you need help with and where you are, and it comes back with a bunch of local resources that aid the homeless near your location. This project is built on hope, care, and a drive to make real change, giving people in need the help they require.</p>
        <p>     As I learned more about the harsh realities of being homeless and in poverty in the films, readings, and podcasts in class, I was most distinctly moved by the film 'Tony'. The film puts a human face on homelessness as well and the daily struggles they meet. It tells us that behind each number is someone with a big fight that we may not know much about. I was inspired by the way Tony turned his hard times into power, pushing for fixes to homelessness. This was what inspired me to create actual change rather than writing a pretend op-ed article on a topic from class, I chose to make this site to really help the homeless. </p>
        <p>     My will to build this site grew more with Hancock's article "Putting a Face to a Statistic," as well as the sad but hopeful tale of Madonna Harris in "Welfare is Dead." Madonna's fight with job loss and a tough welfare system shows what many in the US go through. Her bravery against these odds and flaws in the system shows how we need a better support system for the homeless that's easily accessible. These stories tell me one big thing: quick fixes won't fix big issues. We need welfare that's not just about guarding help but really aims to help people get past hard times. </p>
        <p>     This led me to this idea: a site that not only links homeless people to help but does it with respect for who they are. This site is about turning care into action. It wants to get past the slow rules and give help that's right and fast. Users can find help that's real and on time by sharing their issue and place. </p>
        <p>     If I had more time to work on this site, I would make the following improvements: I would have the location be taken from the IP address rather than making the user input it. I would print descriptions of the kind of care each result gives. I would provide maps to each location, with an option to print it out (assuming that a lot of homeless people would access the site from a library and could print the map), I would create additional pages that help the homeless find job opportunities, affordable housing, and more long term solutions. These are all ideas that I want to implement, but with the short nature of this project, this is the beta version of that vision. </p>

    </section>
    <button class="back-button" onclick="window.history.back();">Go Back</button>
  </div>
  <footer>
    <p>&copy; 2024 Homeless Resources Finder: By Henry Cooper</p>
  </footer>
</body>
</html>
